@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

*{
    /* Sets default margin and padding to 0 for all elements */
    padding: 0;
    margin: 0;
    /* Tells browser to include padding and border in total width */
    box-sizing: border-box;
    font-family: "Teko",sans-serif;

}

html{
    /* Setting height to 100% of viewport*/
    height: 100%;
}

body{
   /* With html element receiving height value above, 
   we are now giving intial height that matches html height */
   /* Allows body to grow taller if content outgrows visible page */
   min-height: 100%;
   display: flex;
   flex-direction: column;
   background-color: #1F3927;
}

/* Working on MAIN SECTION */
main{
    display: flex;
    flex: 1;
    /* Make flex items display top to bottom */
    flex-direction: column;
    /* makes element as big as parent element (body)*/
    width: 100%;
    /* adding margin to keep centered,top and bottom 0, left and right auto */
    margin: 0 auto;
}

nav{
    /* make nav flex-container */
    display: flex; 
    /* specify size of the gap between the rows and columns in flexbox*/
    gap:20px;
}

/* LEFT OFF HERE. also choosing new font for everything.... */
#headerlogo{
    font-size: 24px;
    color: #000000;
    font-weight: 600;
    margin-right: auto;
}

.links{
    /* Doing this makes ul with class links a flex container*/
    /* li are flex items */
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a{
    color: white;
}

a:hover{
    color: green;
}

/* Working on main text */
.main-text{
    flex: 4;
    /* Making .main-text a flex container */
    display:flex;
    gap: 1em;
    margin-top: 40px;
    color: white;
}

.main-text div{
    background-color: black;
    border-radius: 10px;
    /* setting growth factor, shrink factor and basis */
    flex: 1 1 300px;
    /* max height for flex items */
    max-height: 300px;
    /* min width for flex items */
    min-width: 300px;
    /* Adding adding */
    padding: 10px;
}
.main-text #place-holder{
    /* aligning placeholder text in container */
    /* make div a flex containter so elements within are flex items and can be shifted */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* modifying each child element of div .sign-up */
.sign-up h2{
    font-size: 48px;
}

.sign-up p{
    font-size: 18px;
}

#sign-up-button{
    margin-top: 14px;
    color: white;
    background-color: #114320;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 8px;
    border: none;
    width: 75px;
}

#sign-up-button:hover{
    background-color: green;
    cursor: pointer;
}

/* SECOND CONTAINER */
.second-section{
    background-color: white;
    /* shorthand flex property to grow, shrink and flex basis
    1 1 0%  */
    flex: 1;
    /* Make a flex container */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* modifying the #random element flex item */
#random{
    font-size: 36px;
    font-weight: bold;
     margin-bottom: 30px;
}

.boxes-container{
    /* make .boxes-container a flex container */
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    flex: 0 0 100px;
}

.green-box{
    height: 100px;
    width: 100px;
    border: 2px solid green;
    border-radius: 6px;
}
/* Working on thirs container */










